body{
margin: 0;
padding: 0;
}
/*header*/
#header{
background-color: white;
padding: 35px 28px ;
display: flex;
justify-content: space-around;
}
/*section1*/
a{
font-family: Verdana, sans-serif;
text-decoration: none;
color:  grey;
}
.sectionimg{
background-position:100% 100%;
width: 100%;
}
p,h1{
	font-family: Arial, sans-serif;
	font-size: 20px;
	color:white ;

}